<!DOCTYPE html>
<html>
  <head>
    <title>FBM</title>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag controller.action_name %>
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>
  </body>

</html>
